@page "/"

<PageTitle>Home</PageTitle>

<h1><b>Welcome to Eel Extravaganza!</b></h1>
<h2>Use W,A,S,D to move your eel up, left, down, and right.</h2>
<h1>Eat yummy fish to grow and become the longest eel!</h1>
<h3>You gain one point per fishy eaten.</h3>
<h1>Don't run into pesky coral or treacherous rocks! You'll lose your points!</h1>
<br />
<h1>About our implementation:</h1>
<h2>Reconnecting after disconnecting works, it just takes a second to load.</h2>
<h2>The frame won't center around the snake head if the edge of the world is in frame.
    We did this intentionally because we thought it was a better design. But if you leave
    the side of the map it recenters on the snake head.
</h2>

<br />
<h1><b>Authors: Madi Murray and Benjamin Keefer</b></h1>
<h2>Version: November 22nd, 2024</h2>
